:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: #2e2f42;
    --grey: #2e2f4203;
    --white: #ffffff;
    --dairy: #fcfcfc;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #0E1823;
  }
  
  /* reset start */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  /* Гумові картинки */
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  button {
    cursor: pointer;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
/*================== MOBILE=================== */
  @media screen and (max-width: 767px) {
    .page-navigation {
        display: none;
      }
      .mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2f2f37;
      }
    
      .mobile-menu-wraper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        transform: translateX(100%);
        transition: transform 250ms linear;
      }
    
      .mobile-menu-wraper.is-open {
        transform: translateX(0%);
      }
    
      .mobile-menu-container {
        position: relative;
      }
    
      .mobile-menu-close-btn {
        position: absolute;
        right: 24px;
        padding: 0;
        background-color: var(--cornflower);
        border: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 0;
        stroke: rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .mobile-menu-close-btn:hover,
      .mobile-menu-close-btn:focus {
        border: none;
        background-color: #404bbf;
      }
    
      .mobile-menu-close-btn-icon {
        fill: var(--navy-blue);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .mobile-menu-close-btn-icon:hover svg,
      .mobile-menu-close-btn-icon:focus svg {
        fill: #ffffff;
      }
      

  }


/*================== TABLET =================== */
  @media screen and (min-width: 768px) {

    .container {
        max-width: 736px;
      }
      .mobile-menu-wraper {
        display: none;
      }
    
      .mobile-menu-open-btn {
        display: none;
      }
    
      .navigation {
        display: flex;
        align-items: center;
      }
    
      .menu {
        display: flex;
        gap: 40px;
        padding-left: 0;
        margin: 0;
      }
    
      .menu-item {
      }

  }

/*================== DESKTOP =================== */
@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }









/* Yacht */

.reviews-section {
margin-right: 100px;
margin-left: 100px;
}

.reviews-title {
margin-left: auto;
margin-right: auto;
width: 854px;
color: #FBFBFB;
text-align: center;
font-family: "Inter", sans-serif;
font-size: 48px;
font-weight: 500;
letter-spacing: 0.02em;
margin-bottom: 25px;
}

.reviews-desc {
margin-left: auto;
margin-right: auto;
width: 571px; 
color: #FBFBFB;
text-align: center;
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: 0.02em;
opacity: 0.4;
margin-bottom: 75px;
}

.reviews-list {
display: flex;
gap: 32px;
padding-left: 0;
margin: 0;
}

.reviews-list-item {
padding: 32px 36px;
border-radius: 24px;
background: #FBFBFB;
border: none;
}

.portfolio-list-avatar {
  margin: 0 auto;
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-list-author {
margin-top: 24px;
margin-bottom: 8px;
color: #040306;
text-align: center;
font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 19.8px;
letter-spacing: 0.02em;
}

.reviews-list-text {
color: rgba(4, 3, 6, 0.40);
text-align: center;
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: 0.02em;
}